<nav class="navbar">
  <div class="logo">GrandEscape</div>

  <!-- HAMBURGER -->
  <div class="menu-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- DROPDOWN MENU -->
  <ul [class.open]="menuOpen">
    <li><a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/dst" routerLinkActive="active" (click)="closeMenu()">Destinations</a></li>
    <li><a routerLink="/About" routerLinkActive="active" (click)="closeMenu()">About</a></li>
    <li><a routerLink="/booking" routerLinkActive="active" (click)="closeMenu()">Booking</a></li>
    <li><a routerLink="/signin" routerLinkActive="active" (click)="closeMenu()">Login</a></li>
    <li><a routerLink="/signup" routerLinkActive="active" (click)="closeMenu()">Register</a></li>
  </ul>
</nav>
