.details-page {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.back-btn {
  cursor: pointer;
  color: #ff6b00;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.info-box {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.section {
  margin-top: 30px;
}

.place-card {
  background: #fafafa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.book-btn {
  display: block;
  margin: 25px auto 0;
  padding: 14px 35px;
  background: linear-gradient(45deg, #ff6b00, #ff9500);
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.book-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(255,107,0,0.3);
}

