.auth-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background: url('https://i.pinimg.com/736x/1c/c7/e9/1cc7e9dd9fefbfc483e9192df002cd91.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}

.overlay h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #4e73df, #36b9cc);
}

/* GLASS CARD */
.auth-card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  color: white;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #ff7e5f;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff5722;
  transform: scale(1.05);
}

.switch {
  text-align: center;
  margin-top: 15px;
}

.switch a {
  color: #ffe082;
  text-decoration: none;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .auth-wrapper {
    flex-direction: column;
  }

  .auth-left {
    height: 40vh;
  }
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}