<div class="booking-container">
  <h2>Book Your Tour 🌍</h2>

  <form #bookingForm="ngForm" (ngSubmit)="submitForm(bookingForm)">

    <!-- Destination -->
    <select name="destination" [(ngModel)]="selectedDestination" required>
  <option value="">Select Destination</option>
  <option *ngFor="let d of destinations" [value]="d">
    {{ d }}
  </option>
</select>



    <!-- Tour Type -->
    <label>Tour Package</label>
    <select name="tour" ngModel required>
      <option value="">Select Tour</option>
      <option *ngFor="let t of tours" [value]="t">
        {{ t }}
      </option>
    </select>

    <!-- Date -->
    <label>Travel Date</label>
    <input type="date" name="date" ngModel required>

    <!-- People -->
    <label>Number of People</label>
    <input type="number" name="people" ngModel min="1" required>

    <!-- Name -->
    <label>Your Name</label>
    <input type="text" name="name" ngModel required minlength="3">

    <!-- Email -->
    <label>Email</label>
    <input type="email" name="email" ngModel required email>
    <input type="text" [value]="selectedPrice" readonly *ngIf="selectedPrice">

    <button type="submit" [disabled]="bookingForm.invalid">
      Confirm Booking
    </button>

  </form>

  <div class="success-message" *ngIf="successMessage">
    {{ successMessage }}
  </div>
</div>
